@media screen and (min-width: 900px) {
  /* p {
    color: red;
  } */
  .target-left {
    width: 60%;
  }
}

@media screen and (max-width: 900px) {
  #project .container-project {
    margin: 0;
    column-gap: 12px;
  }
}
