@media screen and (max-width: 500px) {
  .header {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  /* Banner */
  #banner {
    width: 100%;
  }
  /* Thanh nav */
  #nav-bar .container-nav {
    flex-direction: column;
    padding: 20px;
  }
  .avatar {
    width: 0;
    padding: 0;
  }
  nav a:link,
  nav a:visited {
    border: none;
    padding: 0;
  }
  .nav-items {
    display: flex;
    padding: 12px 0;
  }
  .nav-link {
    order: 2;
  }
  #nav-bar .container-nav {
    align-items: flex-start;
  }
  /* Thông tin cá nhân */
  #job-info .container-job-info {
    grid-template-columns: 1fr;
  }
  /* Giải thưởng */
  #certificate .certificate-items {
    grid-template-columns: 1fr;
  }
  .certificate-items .item .details {
    justify-content: center;
    padding: 16px;
  }
  .item1,
  .item3,
  .item2 {
    border-bottom: 2px solid #d6c08d;
  }
  .item1 {
    border: none;
  }
  .item3 {
    border-top: none;
    grid-column: 1 / 2;
  }
  /* Dự án */
  #project .container-project {
    grid-template-columns: 1fr;
  }
  .project-title {
    font-weight: 600;
  }
  /* digital-cv */
  .project-charter {
    display: flex;
    flex-direction: column;
  }
  .scopes .cv-row,
  .primary .cv-row {
    display: flex;
    flex-direction: column;
    border-bottom: none;
    gap: 20px;
  }
  .timeline {
    order: 5;
  }
}
