@media screen and (max-width: 768px) {
  /* Navbar */
  .avatar {
    border-left: 1px solid #c6c6c6;
    padding: 43px 32px;
    padding-right: 8px;
  }
  .avatar img {
    display: none;
  }
  /* Mục tiêu + thông tin */
  /* .container.target-info {
    width: 100%;
  } */
  .target-left {
    width: 100%;
  }
  /* Thông tin nghề nghiệp */
  #job-info .container-job-info {
    grid-template-columns: 1fr 1fr;
  }
  .act {
    grid-column: 2 / 3;
    grid-row: 1;
  }
  /* Chứng chỉ giải thưởng */
  .certificate-items .item {
    display: block;
  }
  /* Dự án */
  #project .container-project {
    margin: 0;
    column-gap: 12px;
  }
  /* Digital-cv  */
  .project-charter {
    display: flex;
    flex-direction: column;
  }
  .scopes .cv-row,
  .primary .cv-row {
    display: flex;
    /* flex-direction: column; */
    border-bottom: none;
    gap: 20px;
  }
  .timeline {
    order: 5;
  }
  .team {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr 1fr;
  }
  .team .cv-title {
    grid-column: 1/3;
  }
  .team .cv-row {
    border-bottom: none;
  }
}
